*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url(img/bg.gif);
}

h1{
	color: #fff;
	text-align: center;
	margin: 10px 0 10px 0;
}

#contenedor{
	margin: auto;
	width: 900px;
}

textarea{
	width: 100%;
	height: 150px;
    background-color: #b3c3cb;
    border: 1px solid #668599;
    border-bottom-color: #d3d9de;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 #454f54;
    color: #000;
    font-size: 12px;
    padding: 5px;
    resize: none;
    outline: none;
}

.wrapper{
	display: inline-block;
	background: url("img/button_bg.gif") no-repeat;
	background-size: 100%;
	width: 300px;
}

.button {
  background: transparent;
  border: none;
  color: #6f9fc8;
  font-size: 15px;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 10px;
  width: 300px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
